.header {
  padding: 10px 20px;
  background-color: $secondary-color;
  width: 100%;
  height: auto;
  border-bottom: none;

  .navbar {
    .menu {
      list-style: none;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
      display: flex;
      justify-content: center;

      li {
        margin: 0 15px;
        display: inline-block;

        a {
          text-decoration: none;
          color: $text-color;
          font-weight: bold;

          &:hover {
            color: darken($primary-color, 10%);
          }
        }
      }
    }
  }
}