$primary-color: #007bff;

:root {
  --bg-color: #f0f0f0;
  --text-color: #000000;
}

$primary-color: #007bff;

:root {
  --bg-color: #f0f0f0;
  --text-color: #000000;
}

[data-theme='dark'] {
  --bg-color: #333333;
  --text-color: #ffffff;
}

.App {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;

  h1, h2, h3, h4 {
    color: $primary-color;
  }
}