.container {
    overflow: hidden;
    margin-bottom: 20px;
}

.block {
    width: 200px;
    height: 80px;
    margin: 10px;
    background-color: #808060;
    border: 1px solid #333;
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.small {
    width: 180px;
    height: 80px;
    margin: 20px;
    background-color: #a0a0a0;
}

.large {
    width: 400px;
    height: 200px;
    margin: 10px;
    float: right;
    background-color: #606060;
}


.large.left {
    float: left;
}

